
@font-face { font-family: "Katahdin Round";     src: url("/assets/fonts/KatahdinRound.otf")     format("opentype"); }
@font-face { font-family: "Broadley Script";    src: url("/assets/fonts/BroadleyScript.otf")    format("opentype"); }

html, body {
    all: unset;
    margin: 0;  padding: 0px;
    width: 100%;
    height: 100%;

    --color-black:      #000000FF;
    --color-blue:       #A4D7C4FF;
    --color-pink:       #F8A284FF;
    --color-red:        #F15A42FF;
    --color-white:      #FFFFFFFF;
    --color-yellow:     #F4C030FF;

    --button-margin:    8px;

    font-family: "Arial";
}

body {
    text-align: center;
    background-color: var(--color-blue);
}
.body {
    width: 60%;
    margin: 0 auto;
    background-color: var(--color-white);

    padding-top: 24px;
}

.menu {
    width: 100%;
    display: flex;
    position: relative;
}

h1 {
    all: unset;
    font-size: 112px;
    font-family: "Broadley Script";
    color: var(--color-red);

    padding: 4px;
    margin: 0;
}

h2 {
    all: unset;
    font-size: 32px;
    font-family: "Katahdin Round";
    color: var(--color-yellow);

    padding: 4px;
    margin: 0;
}
h2 > a, h2 > a:visited {
    all: unset;
    cursor: pointer;
}

h3 {
    font-size: 42px;
    font-family: "Katahdin Round";
    color: var(--color-red);

    padding: 4px;
    margin: 0;
}

p {
    padding: 4px 32px 4px 32px;
}

table {
    table-layout: fixed;
    border: none;
    border-spacing: 0px;
    border-collapse: collapse;

    width: 100%;
}
tr {
    width: 100%;
    height: 100%;
}
td {
    height: 100%;
    padding: var(--button-margin);
}

.button {
    width: 100%;
    padding: 4px 0px 4px 0px;
    margin: var(--button-margin);
}

.sub_button {
    all: unset;
    cursor: pointer;
    display: inline-block;

    width: 100%;
    padding: 8px 0px 8px 0px;

    font-size: 36px;
    font-family: "Katahdin Round";
    color: var(--color-white);
    background-color: var(--color-pink);

    transition: color 0.125s ease-in-out, background-color 0.125s ease-in-out;
}
.sub_button:hover {
    color: var(--color-white);
    background-color: var(--color-blue);
}

.home_button {
    all: unset;
    cursor: pointer;
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100%;

    font-size: 36px;
    font-family: "Katahdin Round";
    color: var(--color-white);
}

.reset_font {
    font-family: "Arial";
}

.no_click {
    cursor: unset;
}

.center {
    text-align: center;
}
.left {
    text-align: left;
}

.text_black {
    color: var(--color-black);
}
.text_blue {
    color: var(--color-blue);
}
.text_pink {
    color: var(--color-pink);
}
.text_red {
    color: var(--color-red);
}
.text_white {
    color: var(--color-white);
}
.text_yellow {
    color: var(--color-yellow);
}
.background_blue {
    background-color: var(--color-blue);
}
.background_pink {
    background-color: var(--color-pink);
}
.background_red {
    background-color: var(--color-red);
}
.background_white {
    background-color: var(--color-white);
}
.background_yellow {
    background-color: var(--color-yellow);
}

.home_button_header {
    font-size: 24px;
    padding: 4px;

    width: calc(100% - var(--button-margin));
    height: calc(100% - var(--button-margin));
}
.home_button_header_text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);

    font-size: 24px;
}
.home_button_day {
    font-size: 24px;
    padding: 2px 4px 2px 4px;
}
.home_button_date {
    font-size: 36px;
    padding: 2px 4px 2px 4px;
}
.home_button_info {
    font-size: 36px;
    padding: 2px 4px 2px 4px;
}
.home_button_description {
    font-size: 18px;
    padding: 2px 4px 2px 4px;
    height: 100%;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    width: calc(33.33% - var(--button-margin) * 2);
}
.dropdown:hover .dropdown_content {
    display: block;
}
.dropdown_content > input[type="button"] {
    width: unset;
    display: block;
    width: 100%;

    font-size: 24px;
}
