
@font-face { font-family: "Katahdin Round";     src: url("/assets/fonts/KatahdinRound.otf")     format("opentype"); }
@font-face { font-family: "Broadley Script";    src: url("/assets/fonts/BroadleyScript.otf")    format("opentype"); }

html, body {
    margin: 0;  padding: 0px;

    --color-blue:       #A4D7C4FF;
    --color-pink:       #F8A284FF;
    --color-red:        #F15A42FF;
    --color-yellow:     #F4C030FF;

    font-family: "Arial";
}

body {
    width: 50%;
    transform: translateX(50%);

    text-align: center;
    background-color: var(--color-blue);
}
.body {
    background-color: #FFFFFF;
}

a, a:visited {
    all: unset;
    cursor: pointer;
}

h1 {
    font-size: 112px;
    color: var(--color-yellow);
    font-family: "Broadley Script";

    margin: 0;
}

h2 {
    font-size: 48px;
    color: var(--color-red);
    font-family: "Katahdin Round";

    margin: 0;
}
